@using TH01.Models;
@using TH01.Utilities;
@model IList<Post>

@foreach (var item in Model)
{
    string url = Functions.TitleSlugGeneration("post", item.Title, item.PostID);
    <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="blog-item bg-light rounded overflow-hidden">
            <div class="blog-img position-relative overflow-hidden">
                <img class="img-fluid" src="@item.Images" alt="">
                <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Web Design</a>
            </div>
            <div class="p-4">
                <div class="d-flex mb-3">
                    <small class="me-3"><i class="far fa-user text-primary me-2"></i>@item.Author</small>
                    <small><i class="far fa-calendar-alt text-primary me-2"></i>@item.CreatedDate.ToString("dd-MM-yyyy")</small>
                </div>
                <h4 class="mb-3">@item.Title</h4>
                <p>@item.Abstract</p>
                <a class="text-uppercase" href="/@url">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
}